<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ace.legend.todo" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.ace.legend.todo.AlarmReceiver"
            android:process=":remote" >
        </receiver>
        <activity
            android:name=".AddTodo"
            android:label="@string/title_activity_add_todo"
            android:parentActivityName="com.ace.legend.todo.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ace.legend.todo.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".TodoDetail"
            android:label="@string/title_activity_todo_detail"
            android:parentActivityName="com.ace.legend.todo.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ace.legend.todo.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".DoneDetail"
            android:label="@string/title_activity_done_detail"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ace.legend.todo.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
    </application>

</manifest>
